

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  text-align: center;
  font-family: sans-serif;
}

.home {
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;

  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}

.banner {
  width: 45%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1.25rem;
  margin: 1rem;
  border-radius: 5px;
  max-width: 320px;
  font-size: 90%;
  box-shadow: -5px 5px 5px black;
  border: 3px solid;
}

.logo {
  display: block;
  max-width: 150px;
  width: 100%;
  margin: auto;
  border-radius: 50%;
  border: 3px solid;
}

.description {
  text-shadow: 1px 1px 1px black;
}

.button {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.25);
  display: block;
  padding: 0.50rem 0.75rem;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0.75rem 0;
  font-weight: bolder;
}

.banner-title {
  line-height: 0.3;
  font-family: serif;
}

.button,
.banner-title {
  color: #000;
  text-shadow: 1px 1px 1px white;
}

.button,
.logo {
  box-shadow: 0 3px 3px black;
}

@media all and (min-width: 640px) {
  body {
    font-size: 120%;
  }
  .span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .banner-title {
    font-size: 3rem;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

@media all and (min-width: 1024px) {
  body {
    font-size: 135%;
  }
}


/*GALERIA*/
/*GALERIA*/
/*GALERIA*/
.galeria {
  background: #efefef;
  margin: 0;
}

.galeria-header,
.galeria-footer {
  background: grey;
  padding: 2rem 0;
  margin-bottom: 1.50rem;
  box-shadow: 0 0 10px 5px black;
}

.galeria-footer {
  margin-bottom: 0;
  margin-top: 2rem;
}

.galeria-footer p {
  max-width: 1000px;
  margin: auto;
  color: white;
  text-shadow: 1px 1px 1px black;
}

a .logo {
  color: white;
  display: inline;
}

.galeria-title {
  color: silver;
  margin: 1.25rem 0;
  font-family: serif;
  text-shadow: 3px 3px 3px black;
}

.galeria-header .description {
  max-width: 640px;
  margin: auto;
  padding: 0 1.50rem;
  color: white;
}

@media all and (min-width: 640px) {
  a .logo {
    margin: 1.25rem;
  }
  .galeria-title {
    font-size: 3rem;
  }
}

@media all and (min-width: 1024px) {
  .galeria-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    padding: 0;
}
  .galeria-header .description {
    width: 50%;
    max-width: 640px;
    margin: auto;
  }
  .galeria-header span {
    width: 50%;
    max-width: 640px;
    margin: auto;
  }
  .galeria-title {
    font-size: 5rem;
  }
}

main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main img {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 8px black;
  border: 8px solid #fefefe;
}

.small,
.normal,
.large {
  padding: 0.625rem;
}

@media all and (min-width: 480px) {

  .contenedor {
    width: 460px;
    margin: auto;
  }
  .fila {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .columna-1-3 {
    width: 33.333%;
  }
  .columna-2-3 {
    width: 66.667%;
  }
  .small {
    height: 100px;
  }
  .normal,
  .large {
    height: 200px;
  }
  .columna-50 {
    width: 50%;
  }
}

@media all and (min-width: 768px) {

  .contenedor {
    width: 750px;
  }
  .small {
    height: 150px;
  }
  .normal,
  .large {
    height:300px;
  }
}


@media all and (min-width: 1024px) {

  .contenedor {
    width: 1000px;
  }
  .small {
    height: 200px;
  }
  .normal,
  .large {
    height:400px;
  }
}

/*MODAL*/
/*MODAL*/
/*MODAL*/

.modal {
  display: none;
}

.modal:target {
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal h2 {
  color: white;
  margin: 1rem 0;
}

.imagen {
  width: 100%;
  height: 60%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.imagen a {
  color: white;
  font-size: 2.50rem;
  text-decoration: none;
  margin: 0 0.75rem;
}

.imagen a:nth-child(2) {
  margin: 0;
  height: 100%;

  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 2 auto;
  -ms-flex: 0 2 auto;
  flex: 0 2 auto;
}

.imagen img {
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 8px solid white;
  box-sizing: border-box;
}

.cerrar {
  text-decoration: none;
  display: block;
  background: white;
  color: black;
  width: 1.50rem;
  height: 1.50rem;
  line-height: 1.50rem;
  font-size: 1.50rem;
  border-radius: 50%;
  margin: 1rem auto;
  padding: 0.25rem;
}
